// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
* {
  font-family: 'Quicksand-Regular';
  font-size: 20;
}
.input-prima {
  font-size: 20;
  color: #fff;
  border-bottom-width: 2;
  border-bottom-color: #BC9CFF;
  margin-bottom: 20;
}

.input-prima:focus {
  border-bottom-color: #8BA4F9;
}